<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>notRead</key>
		<integer>1</integer>
		<key>icon</key>
		<string>zhiheng</string>
		<key>name</key>
		<string>纸衡</string>
		<key>time</key>
		<string>20:10</string>
		<key>subTitle</key>
		<string>哥哥，人家知错了，我发誓再也不会不理你了。</string>
	</dict>
	<dict>
		<key>notRead</key>
		<integer>0</integer>
		<key>icon</key>
		<string>chenlong</string>
		<key>name</key>
		<string>龙龙</string>
		<key>time</key>
		<string>19:42</string>
		<key>subTitle</key>
		<string>😞，我昨天和母猪表白，她居然拱了我……</string>
	</dict>
	<dict>
		<key>notRead</key>
		<integer>34</integer>
		<key>icon</key>
		<string>python</string>
		<key>name</key>
		<string>Python开发群</string>
		<key>time</key>
		<string>19:03</string>
		<key>subTitle</key>
		<string>成都 山程：有没有做多线程的</string>
	</dict>
	<dict>
		<key>notRead</key>
		<integer>0</integer>
		<key>icon</key>
		<string>yueyue</string>
		<key>name</key>
		<string>小月月</string>
		<key>time</key>
		<string>18:54</string>
		<key>subTitle</key>
		<string>[动作表情]</string>
	</dict>
	<dict>
		<key>notRead</key>
		<integer>0</integer>
		<key>icon</key>
		<string>jiangxue</string>
		<key>name</key>
		<string>小江雪</string>
		<key>time</key>
		<string>18:30</string>
		<key>subTitle</key>
		<string>[害羞],我是不是傻的可爱</string>
	</dict>
	<dict>
		<key>notRead</key>
		<integer>0</integer>
		<key>icon</key>
		<string>feifei</string>
		<key>name</key>
		<string>菲菲</string>
		<key>time</key>
		<string>14:00</string>
		<key>subTitle</key>
		<string>[签名]遗嘱：写于被小强啃食的时候……</string>
	</dict>
	<dict>
		<key>notRead</key>
		<integer>55</integer>
		<key>icon</key>
		<string>ios</string>
		<key>name</key>
		<string>iOS开发群</string>
		<key>time</key>
		<string>11:32</string>
		<key>subTitle</key>
		<string>一只小小鸟：[图片]这段代码没错啊，为啥报错。。</string>
	</dict>
	<dict>
		<key>notRead</key>
		<integer>0</integer>
		<key>icon</key>
		<string>lianmeng</string>
		<key>name</key>
		<string>大神联盟</string>
		<key>time</key>
		<string>9:31</string>
		<key>subTitle</key>
		<string>飘逸亚索EQ闪现一吹五：凑，刚才打人机输了</string>
	</dict>
</array>
</plist>
