<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>visible</key>
		<string>0</string>
		<key>name</key>
		<string>特别关心</string>
		<key>online</key>
		<string>2</string>
		<key>friends</key>
		<array>
			<dict>
				<key>qq</key>
				<string>100</string>
				<key>icon</key>
				<string>zhiheng</string>
				<key>name</key>
				<string>纸衡</string>
				<key>intro</key>
				<string>[在线]晚上去表白，好\(≧▽≦)/</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>visible</key>
		<string>0</string>
		<key>online</key>
		<string>0</string>
		<key>name</key>
		<string>常见群聊</string>
	</dict>
	<dict>
		<key>visible</key>
		<integer>1</integer>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<string>9</string>
		<key>friends</key>
		<array>
			<dict>
				<key>qq</key>
				<string>1</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>2</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>3</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>4</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>5</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>visible</key>
		<integer>1</integer>
		<key>name</key>
		<string>小学同学</string>
		<key>online</key>
		<string>9</string>
		<key>friends</key>
		<array>
			<dict>
				<key>qq</key>
				<string>6</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>7</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>8</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>9</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>10</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>visible</key>
		<integer>1</integer>
		<key>name</key>
		<string>二逼同学们</string>
		<key>online</key>
		<string>6</string>
		<key>friends</key>
		<array>
			<dict>
				<key>qq</key>
				<string>11</string>
				<key>icon</key>
				<string>chenlong</string>
				<key>name</key>
				<string>龙龙</string>
				<key>intro</key>
				<string>😞，我昨天和母猪表白，她居然拱了我……</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>12</string>
				<key>icon</key>
				<string>yueyue</string>
				<key>name</key>
				<string>小月月</string>
				<key>intro</key>
				<string>[动作表情]</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>13</string>
				<key>icon</key>
				<string>jiangxue</string>
				<key>name</key>
				<string>小江雪</string>
				<key>intro</key>
				<string>[害羞],我是不是傻的可爱</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>电脑在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>14</string>
				<key>icon</key>
				<string>feifei</string>
				<key>name</key>
				<string>菲菲</string>
				<key>intro</key>
				<string>[签名]遗嘱：写于被小强啃食的时候……</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>15</string>
				<key>icon</key>
				<string>02</string>
				<key>name</key>
				<string>阿狸</string>
				<key>intro</key>
				<string>电玩女神  阿狸</string>
				<key>vip</key>
				<string>0</string>
				<key>status</key>
				<string>电脑在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>16</string>
				<key>icon</key>
				<string>10</string>
				<key>name</key>
				<string>艾希</string>
				<key>intro</key>
				<string>世上最牛逼的ADC哈哈，😄</string>
				<key>vip</key>
				<string>0</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>visible</key>
		<integer>1</integer>
		<key>name</key>
		<string>大学同学</string>
		<key>online</key>
		<string>9</string>
		<key>friends</key>
		<array>
			<dict>
				<key>qq</key>
				<string>20</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>21</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>22</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>23</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
			<dict>
				<key>qq</key>
				<string>24</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>qq</key>
				<string>24</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
		</array>
		<key>visible</key>
		<string>0</string>
		<key>name</key>
		<string>手机通讯录</string>
		<key>online</key>
		<string>2</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>qq</key>
				<string>24</string>
				<key>icon</key>
				<string>01</string>
				<key>name</key>
				<string>moumou</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>vip</key>
				<string>1</string>
				<key>status</key>
				<string>手机在线</string>
			</dict>
		</array>
		<key>visible</key>
		<string>0</string>
		<key>name</key>
		<string>我的设备</string>
		<key>online</key>
		<string>2</string>
	</dict>
</array>
</plist>
